@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8mkqqy');
  src:  url('../fonts/icomoon.eot?8mkqqy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8mkqqy') format('truetype'),
    url('fonts/icomoon.woff?8mkqqy') format('woff'),
    url('fonts/icomoon.svg?8mkqqy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9d9";
}
.icon-mail2:before {
  content: "\ea84";
  text-decoration: none;
  color: lightgray;
  font-size: 24px;

}
.icon-mail3:before {
  content: "\ea85";
}
.icon-facebook2:before {
  content: "\ea91";
  text-decoration: none;
  color: lightgray;
  margin-right: 15px;
  font-size: 24px;
}

